/* General Element Selectors */

body {
    padding: none;
}

label {
    display: block;
    font-size: 22px;
    font-weight: 700;
}

input {
    font-size: 18px;
}

h2 {
    font-weight: bold;
    padding-left: 8px;
    font-size: 28px;
}

/* Heading element */
.title-container {
    padding: 25px;
    text-align: center;
    color: white;
    background-color:rgb(26, 76, 135)
}

/* ----- Left Side ----- */
.left-col {
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-col h5 {
    font-weight: 700;
    padding-top: 5px;
}

.custom-color-btn {
    background: rgb(26, 76, 135);
    color: white;
}

.custom-color-btn:hover {
    background: rgb(86, 144, 197);
}

.search-input-history-wrapper {
    background-color:rgba(176, 188, 207, 0.8);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.search-list {
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    width: 196px;
    max-height: 120px;
    overflow: scroll;
    display: inline-block;
}



.search-item {
    border-bottom: solid 1px;
    padding: 5px;
    background-color: white;
}

.search-item:hover {
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}

.reset-btn {
    position: absolute;
    transform: translateX(5px);
}

/* ----- Right Side/Main Content -----*/

.main-content-container {
    background-image: url('../images/weather.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 50px;
    min-height: 100vh;
}

/* current weather data */
.weather-info-container {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:rgba(176, 188, 207, 0.8);
    border-radius: 10px;
}

.weather-info-container h2 {
    margin-bottom: 15px;
    display: inline-block;
}

.weather-info-container img {
    margin-left: 15px;
}

/* used to make info-labels bold */
.weather-info-container p {
    font-weight: bold;
    font-size: 18px;
    padding-left: 8px;
}

/* used to make data not bold */
.weather-info-container span {
    font-weight: normal;
}

#uv-index {
    padding: 7px;
    border-radius: 10px;
}

/* 5 day forecast section */

.weekly-forecast-container {
    margin-top: 30px;
    padding: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: rgba(176, 188, 207, 0.8);
    border-radius: 10px;
}


.weekly-forecast-container h2 {
    margin-bottom: 25px;
}

.five-day-container {
    display: inline-block;
    margin: auto;
}

.five-day-container img {
    margin: 20px;
}

/* styles for each forcasted day */
.card {
    max-width: 12rem;
    display: inline-block;
    margin: 7px;
    background-color:rgb(86, 144, 197);
    color: white;
}

.card h5 {
    font-weight: bold;
    font-size: 20px;
}

.icon-wrapper {
    text-align: center;
}

.card img {
    margin: 7px;
}

.card p {
    font-weight: bold;
    font-size: 16px;
}

.card span {
    font-weight: normal;
}

/* General Style Classes */

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/* UV-Ratings */
.extreme {
    background-color: #8d49ca;
}

.very-high {
    background-color: #e24d20;
}

.high {
    background-color: #f78010;
}

.moderate {
    background-color: #fac10c;
}

.favorable {
    background-color: #9bc405;
}

/* Media Queries */
@media (min-width: 992px) {
    .search-input-history-wrapper {
        min-height: 762px;
    }
}

@media (min-width: 992px) {
    .search-list {
        max-height: 470px;
    }
}

@media (max-width: 333px) {
    .search-list {
        width: 65%;
    }

    input {
        width: 65%;
    }
}

