body {
    padding: none;
}

label {
    display: block;
    font-size: 22px;
    font-weight: 700;
}

input {
    font-size: 18px;
}

h2 {
    font-weight: bold;
    padding-left: 8px;
}

.title-container {
    padding: 25px;
    text-align: center;
    color: rgb(213, 211, 210);
    background-color: rgb(33, 33, 33);
}

.left-col {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 992px) {
    .left-col {
        min-height: 100vh;
    }
}

#search-item {
    border: solid 1px;
}


.weather-info-container {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.weather-info-container h2 {
    margin-bottom: 15px;
    display: inline-block;
}

.weather-info-container img {
    margin-left: 15px;
}

.weather-info-container p {
    font-weight: bold;
    font-size: 18px;
    padding-left: 8px;
}

.weather-info-container span {
    font-weight: normal;
}

.weekly-forecast-container {
    padding: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.weekly-forecast-container h2 {
    margin-bottom: 25px;
}

.weekly-forecast-container img {
    margin: 20px;
}

#uv-index {
    padding: 7px;
    border-radius: 10px;
}

.five-day-container {
    display: inline-block;
    margin: auto;
}


.card {
    max-width: 12rem;
    display: inline-block;
    margin: 7px;
}

.icon-wrapper {
    text-align: center;
}

.card h5 {
    font-weight: bold;
    font-size: 20px;
}

.card img {
    margin: 7px;
}

.card p {
    font-weight: bold;
    font-size: 16px;
}

.card span {
    font-weight: normal;
}

.light-background {
    background-color: rgb(213, 211, 210);
}

.hidden {
    display: none;
}

.extreme {
    background-color: #8d49ca;
}

.very-high {
    background-color: #e24d20;
}

.high {
    background-color: #f78010;
}

.moderate {
    background-color: #fac10c;
}

.favorable {
    background-color: #9bc405;
}